# System files
.DS_Store
*.swp
*.swo

# Node.js modules and logs
**/node_modules/
yarn-error.log
.yarn/install-state.gz
.yarn/cache

# TypeScript build artifacts
**/tsconfig.tsbuildinfo
tsconfig.editor.json

# Temporary files and directories
**/tmp.*
**/tmp_db/
tmp.env
test_deploy.env

# Environment configuration files
**/.env

# IDE settings
.idea/
.vscode/

# Solidity artifacts
solidity/artifacts/

# TypeScript specific ignores
typescript/*/node_modules/
typescript/infra/config/environments/test/create2/*.json
typescript/infra/config/environments/test/testrecipient/*.json

# Helm chart packages
**/helm/**/charts/*.tgz

# Ignore specific files that are likely added by mistake or commonly ignored
**/*.ignore

# Add additional comments or specific ignores below as needed
